﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>

<ul>
    <li>(IP) B.S. - Computing - East Tennessee State University (2019)</li>
    <ul><li>Concentration: Computer Science</li></ul>
</ul>
<h4>Research Interests</h4>
<ul>
    <li>
        Software Engineering
    </li>
    <li>
        Artificial Intelligence Techniques
    </li>
    <li>
        Deep Learning / Neural Networks
    </li>
    <li>
        Data Mining
    </li>
    <li>
        Code Optimization Techniques
    </li>
    <li>
        Language Processing
    </li>
    <li>
        User Experience (UX) Optimization
    </li>
    <li>
        Computer Science Education
    </li>
</ul>