﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>

<h4>About</h4>
<p>
    Senior currently at ETSU studying Computer Science with a concentration in Information Technology. I enjoy long walks on the beach and PL/SQL
</p>
<h4>Interests</h4>
<ul>
    <li>Dogs</li>
    <li>Drones</li>
    <li>Games</li>
    <li>Movies</li>
    <li>Food</li>
</ul>