@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Daniel Burchette's Student Page"]</h2>
<h3>@ViewData["Daniel Anderson Burchette"]</h3>


<h4>Education</h4>

<ul>
    <li>Cocke County High School - Newport, TN (Class of 2015)</li>>
    <li>East Tennessee State University - Computer Science: IS - Johnson City, TN (Class of 2019)</li>
</ul>
<h4>Biography</h4>
<p>
    Computer Science Information Systems student looking to do what ever he whether it be programming or web development or anything in between.
</p>
