﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>

<ul>
	<li>Advanced High School diploma - Appalachia High School in Appalachia, Virginia</li>
	<li>Associate's Degree in General Studies - Mountain Empire Community College in Big Stone Gap, Virginia</li>
	<li>B.S. in Computing, C.S. concentration - East Tennessee State University in Johnson City, Tennessee (Dec, 2018)</li>
</ul>
<h4>Career Interests</h4>
<ul>
	<li>
		Software Engineering
	</li>
	<li>
		Project Ownership Roles
	</li>
	<li>
		RPG Game Programming (Specific interest in AI and Class Development)
	</li>
	<li>
		Mobile Development
	</li>
	<li>
		Researching the ability to create games for the visually impaired by focusing on 
		sound/vibration/rhythm mechanics
	</li>
	<li>
		Initially, pretty much whatever gets me hired and making some sweet moolah.
	</li>
</ul>
