﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>

<h4>Education</h4>
<ul>
    <li>Student at East Tennessee State University - Johnson City, TN (2012-2018)</li>
    <li>Major: Comptuting</li>
    <li>Concentration: IT</li>
    <li>Graduation Time: December 2018</li>
</ul>
<h4>Career Interests</h4>
<ul>
    <li>
        Software Engineering
    </li>
    <li>Database Programming</li>
    <li>Web Development</li>
</ul>
