﻿<style>
    body{
        font-family: calibri;
        font-size: 1.5em;
    }

    #biography {
       border-left: 3px solid #00ffff; 
       padding-left: 10px;
       color: #7e7e7e;
    }
</style>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>

<hr />
<h4>Brief Biography</h4>
<hr />

<p id="biography">
    I'm currently a senior at ETSU planning to graduate in the Fall with a degree in IT. I'd like to pursue a job in database, web development, or security; hopefully in the Tri-cities area for a couple years before moving - we'll see. Otherwise I have a host of hobbies I enjoy, although I rarely have time to pursue them all.
</p>

<br />

<h4>Hobbies</h4>
<ul>
    <li>
        Aquascaping
    </li>
    <li>
        Running
    </li>
    <li>
        Currently working on a nature pond
    </li>
    <li>
        Freeline skates
    </li>
    <li>
        Unicycling
    </li>
    <li>
        Freebord
    </li>
    <li>
        Juggling
    </li>
    <li>
        Kayaking
    </li>
    <li>
        Brewing Beer
    </li>
    <li>
        Dirtbikes
    </li>
    <li>
        Working on my upcoming indie game review website
    </li>
    <li>
        Gaming
    </li>
</ul>
