@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Donald Huber's Student Page"]</h2>
<h3>@ViewData["Donald Huber"]</h3>


<h4>Education</h4>

<ul>
    <li>Elizabethton High School - Elizabethton, TN (Class of 2013)</li>
    <li>East Tennessee State University - Computer Science: IT - Johnson City, TN (Class of 2018)</li>
</ul>
<h4>Biography</h4>
<p>
    Computer Science Information Technology student looking for a System Admin position, eventually moving into Security at some point.
</p>
