﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>

<ul>
    <li>B.S. - Computer Science - East Tennessee State University - Johnson City, TN (2018) (projected)</li>
    <li>H.S. Diploma - Oakland High School - Murfreesboro, TN (2010)</li>
</ul>
<h4>Career Interests</h4>
<ul>
    <li>
        Software Engineering
    </li>
    <li>
        Project Management
    </li>
    <li>
        Network Infastructure
    </li>
    <li>
        Network/Data Security
    </li>
    <li>
        Database Administration
    </li>
</ul>
