﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>About</h4>
<p>
    Computing major with an IT concentration at ETSU.
</p>

<h4>Career Interests</h4>
<ul>
    <li>Web Development</li>
    <li>Networking</li>
    <li>System Administration</li>
    <li>Security</li>
</ul>