﻿
@{
    ViewData["Title"] = "Waser";
}

<h2>@ViewData["Name"]</h2>
<h4>Education</h4>
<ul>
    <li>Tuscola Highschool - Waynesville, NC</li>
    <li>East Tennessee State University - Computer Science: IT</li>
</ul>
<br />
<h4>Biography</h4>
<p>
    I am looking to graduate with a bachelors degree and look for a .NET developer job in the Knoxville area.
</p>

