﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h2>CSCI 3250-090 - Summer 2018</h2>
<h3>Class List</h3>

<ol>
	<li><a href="/Students/Adams">David Adams</a></li>
	<li><a href="/Students/Barlow">Shane Barlow</a></li>
	<li><a href="/Students/Bennett">Brian Bennett, PhD</a></li>
	<li><a href="/Students/Burchette">Daniel A. Burchette</a></li>
	<li><a href="/Students/Collins">Meghan Collins</a></li>
	<li><a href="/Students/Ding">Jia Ding</a></li>
	<li><a href="/Students/Floyd">Mitchell Floyd</a></li>
	<li><a href="/Students/Huber">Donald Huber</a></li>
	<li><a href="/Students/Ortiz">Anthony Ortiz</a></li>
	<li><a href="/Students/Scruggs">Gavin Scruggs</a></li>
	<li><a href="/Students/Memon">Memon Talha</a></li>
	<li><a href="/Students/Waser">Dylan Waser</a></li>

</ol>
